.button{
    height: 4rem;
    background-color: gray;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    user-select: none;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.bigger-button {
    flex-grow: 1.5;
    flex-shrink: 1;
    flex-basis: 0%;
}

.letter {
    height: fit-content;
    margin: auto;
    color:white
}

@media (min-width: 450px) {
    .bigger-button {
        width: 3.5rem;
    }
    .button{
        width: 2.5rem;
    }
}