.keyboard-container {
    height: 40vh;
    margin: 0 auto;
    display: flex;
    width: 95%;
    flex-direction: column;
    gap: 0.05rem;
}

@media (min-width: 450px) {
    .keyboard-container{
        width: 25rem;
    }
}