.keyboard-container {
    height: 30vh;
    margin: 0 auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
}


@media (max-width: 600px) {
    .keyboard-container{
        width: 100%;
    }
}