.square {
    height: calc(360px/var(--word-length));
    width: calc(360px/var(--word-length));
    border: 2px solid gray;
    border-radius: 2px;
    font-size: calc(360px/var(--word-length) - 1.0rem);
    font-weight:500;
    margin: 3px;
    justify-content: center;
}

.space {
    width: 1rem;
}

.blue {
    background-color: #005BBB;
}

.yellow {
    background-color: #FFD500;
}

.gray {
    background-color: gray;
}

.anime {
    animation-duration: 0.05s;
    animation-name: scale-up-center;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.flip-horizontal-bottom {
    -webkit-animation: flip-horizontal-bottom 0.4s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: flip-horizontal-bottom 0.4s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}
@keyframes flip-horizontal-bottom {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

.rotate-scale-down {
    -webkit-animation: rotate-scale-down 0.65s linear both;
    animation: rotate-scale-down 0.65s linear both;
}

@-webkit-keyframes rotate-scale-down {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(0) rotateZ(180deg);
        transform: scale(0) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
@keyframes rotate-scale-down {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }
    50% {
        -webkit-transform: scale(0) rotateZ(180deg);
        transform: scale(0) rotateZ(180deg);
    }
    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}
